.row {
	background-color:grey;
}

#sidemenu {
    background-color:red;
    text-align: center;
    height:100%;
    min-height: 1024px;
    max-height: 1024px; 
}

#sidemenu img {
	padding-top: 15px;
	padding-bottom: 15px;
	height:100px;
	width:90px;
	border: 10px;
    border-color:black;
}

#sidemenu ul {
	list-style: none;
}

#main {
	padding-top: 15px;
}

h4 {
	padding-bottom:0px;
}

p {
	text-align: justify;
	padding:10px;
}

.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }